<!DOCTYPE HTML>

<html>
	<head>
		<title>Software Festival</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="stylesheets/search.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
		<section id="header">
			<div class="inner">
				<span class="icon solid major fa-cloud"></span>
				<h1>Keyword <strong>Search</strong> Result</h1>
				<form id="search" method="GET">
					<input type="text" id="search_text" name="keyword" placeholder="<%=search%>" required>
					<input type="submit">
					<a href="/" class="button">Home</a>
				</form>
			</div>
		</section>

		<!-- Main -->
		<section id="main">
			
			<!-- EJS -->
			<%	for(var i = 0; i < data.length; i++){ %>
				<div class="count">
					<% if(data[0]['count'] != -1) {%>
						<p><%= data[i]['count']%> 개의 토큰 제외 결과</p> 
					<% } %>
					<% for(var j = 0; j < data[i]['list'].length; j++) { %>
						<div class="result">
							<header class="major">
								<p class="result_title"><a href="<%=data[i]['list'][j]['url']%>" class="result_href"><%=data[i]['list'][j]['title'] %></a></p>
							</header>
								<p class="result_url"><%= data[i]['list'][j]['url'] %></p>
							<% if(data[0]['count'] != -1) {%>
								<p class="result_count"><%= data[i]['list'][j]['user_count']%> 명이 <%= data[i]['list'][j]['visit_count'] %> 번 방문하였습니다.</p>
							<% } %>
						</div>
					<% } %>
				</div>
			<%	} %>

		</section>

		<!-- Footer -->
		<section id="footer">
			<ul class="copyright">
				<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</section>


		<!-- Scripts -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="javascripts/search_jquery.min.js"></script>
		<script src="javascripts/util.js"></script>
		<script src="javascripts/search.js"></script>
	</body>
</html>